<% provide(:title,"Accueil") %>

<h1>s'enregistrer</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, aut dicta explicabo eveniet nulla delectus quod sed atque deserunt ad perspiciatis nobis sequi sit laudantium autem dolorum accusamus doloremque fugiat?</p>
